---
import Layout from "../layouts/Layout.astro"
---

<Layout title="A propos" />
  <div transition:animate="slide">
    <div class="pt-24 flex justify-center items-center">
      <h1 class="text-white text-2xl">A propos</h1>
      
    </div>
    <p class="w-full text-center my-5 text-white">Et là il va falloir que je trouve <a href="" class="underline decoration-fuchsia-500 text-fuchsia-500 text-2xl font-semibold">quoi</a> et comment le raconter</p>
  </div>

