---
import Layout from "../layouts/Layout.astro"
---

<Layout title="A propos">
  <div class="mainContent_container">
    <h1 class="mt-6 px-5 pt-5 is-size-2">A propos de moi</h1>
    <p class="mt-4 mx-auto px-5 is-size-5 is-justify-content-center">
      Passionné de développement web depuis des années, j'apporte une expertise dans le
      développement de site web ainsi que d'applications.
    </p>
    <p class="mt-4 mx-auto px-5 is-size-5 is-justify-content-center">
      Je développe des solutions optimisées en fonction de vos contraintes que ce soit
      votre budget et/ou votre délai
    </p>
  </div>
</Layout>
