---
import Layout from "../layouts/Layout.astro"
---

<Layout title="A propos">
  <h1 class="mt-6 pt-5">A propos de moi</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sapiente voluptates
    animi, temporibus numquam eos repellat dolorem ad, adipisci, sed ab cupiditate
    mollitia voluptatibus molestiae doloribus repellendus quos aliquam eligendi!
  </p>
</Layout>
