---
import Layout from "../layouts/Layout.astro"
---

<Layout title="A propos" />
  <div transition:animate="slide">
    <div class="pt-24 flex justify-center items-center">
      <h1 class="text-white text-2xl">A propos</h1>
      
    </div>
    <p class="w-full text-center my-5 text-white">Et là il va falloir que je trouve <a href="" class="underline decoration-fuchsia-500 text-fuchsia-500 text-2xl font-semibold">quoi</a> et comment le raconter</p>
  

    <section class="container mx-auto my-4">
      <h2 class="text-2xl font-bold mb-4 text-white">À propos de moi</h2>
      <p class="text-white">J'exerce depuis 2 ans le métier de développeur web</p>
      <p class="text-white">Je suis issu d'une reconversion professionnelle mais passionné depuis de nombreuses années par les technologies du web.</p>
      <p class="text-white">J'accompagne les entreprises de toutes tailles dans leurs projets web ou la création d'outils digitaux</p>
  </section>

  <section class="bg-gray-200 py-8">
      <div class="container mx-auto">
          <h2 class="text-2xl font-bold mb-4">Mon Expérience</h2>
          <!-- Ajoute ici des éléments pour détailler ton expérience -->
      </div>
  </section>

  <section class="container mx-auto my-8">
      <h2 class="text-2xl font-bold mb-4">Mes Compétences</h2>
      <p></p>
  </section>


  </div>

