---
import BaseLayout from '../layouts/Layout.astro'
const allPosts = await Astro.glob('../pages/blog/*.md');
const pageTitle = "My Blog";
---
<BaseLayout title={pageTitle}>
    <div class="mt-28 flex flex-col mx-auto w-full sm:w-1/2 px-4">
  <h1 class="text-2xl text-white mb-4">This is where I will post about my journey learning Astro.</h1>
  <ul>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</div>
</BaseLayout>