---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Citation from '../components/Citation.astro';
import Hero from '../components/Hero.astro';
import FancyImage from '../components/FancyImage.astro';
import Greetings from '../components/Greetings.vue';
---

<Layout title='Welcome to Astro.'>
  <Hero />
  <main>
    <section class='card_section py-4'>
      <ul role='list' class='link-card-grid'>
        <Card
          href='https://docs.astro.build/'
          title='Projet 1'
          body='Learn how Astro works and explore the official API docs.'
          author='Franck'
        />
        <Card
          href='https://astro.build/integrations/'
          title='Projet 2'
          body='Supercharge your project with new frameworks and libraries.'
          author='Franck'
        />
        <Card
          href='https://astro.build/themes/'
          title='Projet 3'
          body='Explore a galaxy of community-built starter themes.'
          author='Franck'
        />
        <Card
          href='https://astro.build/chat/'
          title='Projet 4'
          body='Come say hi to our amazing Discord community. ❤️'
          author='Franck'
        />
      </ul>
      <Citation author='Sindre Sorhus' />
    </section>
    <FancyImage />
    <Greetings />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 95%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media screen and (min-width: 1000px) {
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60%;
    }
  }
</style>
