---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Citation from "../components/Citation.astro"
import Hero from "../components/Hero.astro"
import FancyImage from "../components/FancyImage.astro"
import Greetings from "../components/Greetings.vue"
---

<Layout title="Welcome to Astro.">
  <Hero />
  <main>
    <section class="card_section py-4">
      <ul role="list" class="link-card-grid">
        <Card
          image="/src/images/maformationimmo.png"
          href="https://maformationimmo.info/"
          title="Ma formation immo"
          body="Une landing page autour de l'offre de formation immo du client"
          author="Franck"
        />
        <Card
          image="https://bulma.io/images/placeholders/1280x960.png"
          href="https://astro.build/integrations/"
          title="Projet 2"
          body="Supercharge your project with new frameworks and libraries."
          author="Franck"
        />
        <Card
          image="https://bulma.io/images/placeholders/1280x960.png"
          href="https://astro.build/themes/"
          title="Projet 3"
          body="Explore a galaxy of community-built starter themes."
          author="Franck"
        />
        <Card
          image="https://bulma.io/images/placeholders/1280x960.png"
          href="https://astro.build/chat/"
          title="Projet 4"
          body="Come say hi to our amazing Discord community. ❤️"
          author="Franck"
        />
      </ul>
      <Citation
        author="John Woods"
        citation="Codez toujours comme si la personne qui allait maintenir votre code était un violent psychopathe qui sait où vous habitez."
      />
    </section>
    <FancyImage />
    <Greetings />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 95%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media screen and (min-width: 1000px) {
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60%;
    }
  }
</style>
