---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Citation from "../components/Citation.astro"
import Hero from "../components/Hero.astro"
import ImageGallery from "../components/ImageGallery.astro"
import Greetings from "../components/Greetings.vue"
import maformationImmo from "/src/images/maformationimmo.png"
import lesitedelasso from "/src/images/lesitedelasso.png"
---

<Layout title="Welcome to my Portefolio">
  <Hero />
  <main>
    <ImageGallery />
    <section class="card_section py-5">
      <div role="list" class="mx-auto flex flex-col md:flex-row justify-center items-center">
        <Card
          image={maformationImmo.src}
          href="https://maformationimmo.info/"
          title="MaformationImmo"
          body="Une landing page autour de l'offre de formation immo du client sur la base du maquettage du service communication."
          author="Franck"
          tags={["wordpress", "cms"]}
        />
        <Card
          image="https://bulma.io/images/placeholders/1280x960.png"
          href="https://astro.build/integrations/"
          title="Projet 2"
          body="Supercharge your project with new frameworks and libraries."
          author="Franck"
          tags={["vueJS", "NestJS"]}
        />
        <Card
          image="https://bulma.io/images/placeholders/1280x960.png"
          href="https://astro.build/themes/"
          title="Projet 3"
          body="Explore a galaxy of community-built starter themes."
          author="Franck"
          tags={["wordpress", "cms"]}
        />
        <Card
          image={lesitedelasso.src}
          href="https://lesitedelasso.netlify.app/"
          title="Le Site de l'asso"
          body="Un projet réalisé lors de ma formation. Il utilise Bootstrap ❤️ et rien d'autre"
          author="Franck"
          tags={["bootstrap", "html"]}
        />
      </div>
      <Citation
        author="John Woods"
        citation="Codez toujours comme si la personne qui allait maintenir votre code était un violent psychopathe qui sait où vous habitez."
      />
    </section>
    <Greetings />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 95%;
  }
  
  @media screen and (min-width: 1000px) {
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60%;
    }
  }
</style>
