---
import Layout from "../layouts/Layout.astro";
import ProfilImage from "../images/profil/profil.webp"

---
<Layout title="Mon Linktree">
    <main class="pt-32 pb-16">
      <div class="max-w-3xl mx-auto text-center">
        <div class="profileImage flex justify-center mx-auto mb-5 rounded-full overflow-hidden bg-fuchsia-800">
        <p class="cardTitle">@FranckVienot</p>
        <img src={ProfilImage.src} alt="Franck Vienot Profile">
      </div>
      <div class="mb-6">
        <h1 class="Linktree text-2xl sm:text-3xl font-bold">
          @FranckVienot
          </h1>
        <p class="text-gray-600 mt-2">Pour me contacter sur les réseaux</p>
      </div>
        
  
        <div class="space-y-4">
          <div class="cardLink w-full p-3 font-bold rounded-full flex flex-row justify-around">
              <a href="https://github.com/antikkorps" target="_blank" class="hover:text-fuchsia-500">
              <span>GitHub</span></a>
          </div>

          <div class="cardLink w-full p-3 font-bold rounded-full flex flex-row justify-around">
          <a href="https://www.instagram.com/franckvi" target="_blank" class="hover:text-fuchsia-500">
            <span>Instagram</span></a>
        </div>

        <div class="cardLink w-full p-3 font-bold rounded-full flex flex-row justify-around">
          <a href="https://www.linkedin.com/in/franck-vienot-a0129a1a0/" target="_blank" class="hover:text-fuchsia-500">
            <span>LinkedIn</span></a>
        </div>

        <div class="cardLink w-full p-3 font-bold rounded-full flex flex-row justify-around">
          <a href="mailto:franckvienot7@gmail.com" target="_blank" class="hover:text-fuchsia-500">
            <span>@mail</span></a>
        </div>

        </div>
      </div>
    </main>
  </Layout>

  <style>
    .Linktree {
      color: white;
      font-weight: 700;
      text-transform: uppercase;      
      letter-spacing: .7rem;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .cardTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-weight: 700;
      z-index: 2;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      opacity: 0;
    }
    .profileImage {
      width: 16rem;
      height: 16rem;
      position: relative;
    }

    .profileImage:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background:  rgb(134 25 143);
      border-radius: 50%;
      opacity: 0;
      transition: all 0.5s linear;
    }

    .profileImage:hover:before {
      opacity: 0.5;
      transition: all 0.5s linear;
    }

    .profileImage img {
      position: relative;
      width: 17rem;
      height: 17rem;
      object-fit: cover;
      display: block;
      margin: auto;
      transition: transform 0.5s linear; 

    }

    .profileImage:hover img {
      transform: scale(1.1) rotate(8deg);
      filter: blur(4px);
      transition: all 0.5s linear;
    }
    .profileImage:hover .cardTitle {
      opacity: 1;
      transition: all 0.5s linear;
    }

    .cardLink {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 25rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.06);
      color: white;
    }
  
  </style>