---
import Layout from "../layouts/Layout.astro"
import FancyBorder from "../components/FancyBorder.astro";
import CardOthers from "../components/CardOthers.astro";
---

<Layout title="les autres projets">
    <div class="container" transition:animate="slide">
    <!-- <h1 class="title_results mb-5 mx-auto">Les autres projets</h1> -->

<FancyBorder />
    
    
    <CardOthers 
    title="wikisearch"
    body="Un moteur de recherche basé sur l'api de wikipedia"
    href="/wikisearch"
    />

    <CardOthers
    title="Gradient Generator"
    body="Un générateur de dégradés réalisé en JS"
    href="/gradient"
    />

    <CardOthers
    title="Particules Animées en JS"
    body="Un générateur de particules animées en JS"
    href="/particules"
    />

    <CardOthers
    title="Calculatrice en JS"
    body="Une calculatrice en JS qui utilise de nombreux regex"
    href="/calculatrice"
    />

    </div>

</Layout>

<style>
    .main_container {
        max-width: 30rem;
    }
</style>