---
import Layout from "../layouts/Layout.astro"
---

<Layout title="les autres projets">
<div class="container pt-24">
    <h1 class="title_results">Les autres projets</h1>
    
    <p class="text-white">Voici une liste de projets que j'ai réalisé ou auxquels j'ai participé.</p>
    
    <ul>
        <li><a href="/wikisearch" class="links_basics">wikisearch</a></li>
    </div>
</Layout>