---
import Layout from "../layouts/Layout.astro"
import FancyBorder from "../components/FancyBorder.astro";
---

<Layout title="les autres projets">
    <div class="container" transition:animate="slide">
    <!-- <h1 class="title_results mb-5 mx-auto">Les autres projets</h1> -->

<FancyBorder />
    
    <p class="text-white mb-4">Voici une liste de projets que j'ai réalisé :</p>
    
    
        <a href="/wikisearch" class="links_basics mb-3">wikisearch</a>
        <a href="/gradient" class="links_basics mb-3">Gradient Generator</a>
        <a href="/particules" class="links_basics mb-3">Particules Animées en JS</a>
        <a href="/calculatrice" class="links_basics mb-3">Calculatrice en JS</a>
       
    </div>

</Layout>

<style>
    .main_container {
        max-width: 30rem;
    }
</style>