---
import Layout from "../layouts/Layout.astro"
---

<Layout title="les autres projets">
    <div class="container">
    <h1 class="title_results mb-5 mx-auto">Les autres projets</h1>

    
    <p class="text-white mb-4">Voici une liste de projets que j'ai réalisé ou auxquels j'ai participé.</p>
    
    <ul>
        <li><a href="/wikisearch" class="links_basics">wikisearch</a></li>
        <li><a href="/gradient" class="links_basics">Gradient Generator</a></li>
        </ul>
    </div>

</Layout>

<style>
    .main_container {
        max-width: 30rem;
    }
</style>