---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mes projets">
  <div class="mainContent_container mt-6 pt-6">
    <h1>Mes projets</h1>
    <p>Quelques exemples de projets</p>
  </div>
</Layout>
