---
import Layout from "../layouts/Layout.astro"
import QuizzComponent from "../components/QuizzComponent.astro";

---
<Layout title="Quizz">
    <div class="main_container">
        <div class="title-container">
            <h1>
                <span>
                    Quizz :
                </span>
                Besoin d'un dév ? - ☑️
            </h1>
            <p class="text-white text-center mt-2 px-4"> Voilà quelques questions pour vous aider à savoir si vous avez besoin ou non d'un développeur web</p>
        </div>
    <form action="" class="quizz-form mx-4 px-4 sm:mx-auto">
        <QuizzComponent
        question="Votre projet est-il défini ?"
        answers={["Oui", "non", "Je ne suis pas sûr"]}
        correctAnswer="Oui"
        
        />

        <QuizzComponent
        question="Un cahier des charges est-il défini ?"
        answers={["Oui", "Non", "Pas encore"]}
        correctAnswer="Oui"
        
        />

        <QuizzComponent
        question="Est-ce que la date de livraison est définie ?"
        answers={["Oui", "Non", "Pas encore"]}
        correctAnswer="Oui"
        
        />

        <QuizzComponent
        question="votre budget est-il défini et en accord avec vos objectifs ?"
        answers={["Oui", "Non", "Partiellement"]}
        correctAnswer="Oui"
        
        />
        <button type="submit" class="form_button">Valider mes réponses</button>
    </form>

        <div class="message-container">
            
            <div class="message py-5">
                <h2 class="results title_results"></h2>
                <p class="instructions">cliquez sur <strong>valider</strong> pour voir les <strong>résultats</strong></p>
                <div class="mark">
                    
                </div>
                <div class="message-text text-xl">
                    
                </div>
        </div>

</div>
</div>
</Layout>


<script src="../components/QuizzFunctions.js"></script>


<style>
    h1 span {
        font-weight: 900;
    }
     .main_container h1 {
        font-size: 3rem;
        text-align: center;
        color: #fff;
    }
    
    .title-container{
        padding-top: 6rem;
    }
    
    .message-container{
        margin: 3rem auto;
        font-size: 3rem;
        text-align: center;
        width: 100%;
        max-width: 35rem;
  }
</style>
