---
const { author, citation } = Astro.props
---

<div class="flex flex-col sm:my-10 px-6 sm:w-2/3 justify-center mx-auto">
    <div class=" bg-white rounded-xl">
        <p class="text-2xl text-black font-bold px-2 pt-5 text-center">
          "{citation}"
        </p>
        <p class="flex flex-row-reverse mr-2 pr-5 pb-4">{author}</p>
    </div>
</div>
