---
const { author, citation } = Astro.props
---

<div class="columns mt-5">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">
          "{citation}"
        </p>
        <p class="subtitle">{author}</p>
      </div>
    </div>
  </div>
</div>
