---
import { Image } from "astro:assets";
import image2 from "../images/image_2.avif"

---

<style>
  .container_image {
    width: 100%;
    height: auto;
  }
  #fusee {
    justify-content: center;
    border-radius: 1rem;
    width: 50rem;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
  #fusee:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
  }
</style>

<section>
  <div class="container_image is-flex is-justify-content-center my-5">
    <Image src={image2} alt="fusée" id="fusee" />
  </div>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum maxime assumenda
    totam consequuntur nostrum. Laudantium fugit ullam quos reprehenderit vero, placeat
    iste repellat delectus accusantium, sapiente totam esse quibusdam commodi!
    Perspiciatis accusamus voluptatibus velit necessitatibus nam facere earum consequuntur
    maiores incidunt provident, libero placeat omnis natus. Quia consectetur, nam corporis
    officiis, minima ullam rerum quos reprehenderit similique, quisquam doloribus
    delectus. Vitae modi ipsa rem esse sed, nisi repellendus dolorum asperiores dolorem.
    Ab exercitationem quibusdam natus nisi aliquid enim repellendus cumque provident a sed
    eos nostrum, minus quas quis maxime repellat. Ad, maiores repellendus architecto at
    obcaecati vero repudiandae! Reprehenderit nobis ducimus cupiditate culpa sit sunt,
    quas aliquid corrupti nemo ipsa placeat nam officiis earum, repudiandae eos, velit
    commodi quia vitae? Quam debitis inventore dolore officia, repellendus explicabo ea
    placeat laborum praesentium commodi repellat, modi rerum molestiae sint doloribus
    tenetur quos voluptates illo beatae. Odio earum maxime quae suscipit voluptatem
    veritatis!
  </p>
</section>
