---
import image2 from '../src/images/image_2.avif';
---

<section>
  <div class='container is-flex is-justify-content-center my-5'>
    <img src={image2} alt='' id='fusee' />
  </div>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum maxime
    assumenda totam consequuntur nostrum. Laudantium fugit ullam quos
    reprehenderit vero, placeat iste repellat delectus accusantium, sapiente
    totam esse quibusdam commodi! Perspiciatis accusamus voluptatibus velit
    necessitatibus nam facere earum consequuntur maiores incidunt provident,
    libero placeat omnis natus. Quia consectetur, nam corporis officiis, minima
    ullam rerum quos reprehenderit similique, quisquam doloribus delectus. Vitae
    modi ipsa rem esse sed, nisi repellendus dolorum asperiores dolorem. Ab
    exercitationem quibusdam natus nisi aliquid enim repellendus cumque
    provident a sed eos nostrum, minus quas quis maxime repellat. Ad, maiores
    repellendus architecto at obcaecati vero repudiandae! Reprehenderit nobis
    ducimus cupiditate culpa sit sunt, quas aliquid corrupti nemo ipsa placeat
    nam officiis earum, repudiandae eos, velit commodi quia vitae? Quam debitis
    inventore dolore officia, repellendus explicabo ea placeat laborum
    praesentium commodi repellat, modi rerum molestiae sint doloribus tenetur
    quos voluptates illo beatae. Odio earum maxime quae suscipit voluptatem
    veritatis! Qui earum deleniti suscipit tempora molestiae, voluptates
    adipisci ad repellat laudantium illo amet mollitia accusantium temporibus
    quasi eius fuga quos ea quisquam! Placeat nobis nostrum velit recusandae.
    Amet, suscipit debitis. Omnis, ea. Qui voluptates consequatur molestias
    nihil nostrum beatae et aperiam recusandae autem. Aperiam, rerum iure
    recusandae deserunt consequuntur ratione tenetur, corrupti obcaecati
    quisquam earum soluta in. Blanditiis, sunt suscipit. Qui quas officiis
    beatae impedit ut laudantium quidem cum possimus, quae in modi similique
    error culpa nihil recusandae ea? Quae, ad et qui atque animi repellat
    inventore accusamus in sapiente! Animi suscipit dolor, modi labore
    voluptates accusamus perferendis quia voluptate nostrum mollitia, delectus
    nisi quis doloribus consectetur error repellat cumque. Vitae voluptatum a
    modi! Facere necessitatibus cum nostrum fugit ab. Necessitatibus, velit.
    Amet sint nostrum corporis asperiores quos labore, sit tempore animi
    perspiciatis! Labore in aliquid beatae magni molestiae, rerum quaerat
    facere, placeat fugit similique consectetur vel ex quisquam doloribus!
  </p>
</section>
