---

---


<div class="navbar fixed top-0 left-0 bg-neutral-900">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow rounded-box w-52 bg-neutral-900 hover:text-fuchsia-500 ">
        <li><a class="menu_text" href="/">Accueil</a></li>
        <li><a class="menu_text" href="/about">A Propos</a></li>
        <li>
          <a class="menu_text">Mes Projets</a>
          <ul class="p-2">
            <li><a class="menu_text" href="/webprojects">Web</a></li>
            <li><a class="menu_text" href="/others">Autre</a></li>
          </ul>
        </li>
        <li><a class="menu_text" href="/contact">Contactez-moi</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/">dev2go</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 dark:text-white text-black bg-neutral-900 ">
      <li><a class="menu_text" href="/">Accueil</a></li>
        <li><a class="menu_text" href="/about">A Propos</a></li>
      <li tabindex="0">
        <details>
          <summary class="menu_text">Mes Projets</summary>
          <ul class="p-2">
            <li><a class="menu_text" href="/webprojects">Les Projets Web</a></li>
            <li><a class="menu_text" href="/others">Les Autres</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="https://github.com/antikkorps" class="btn mr-3 hidden sm:flex">
    <span class="icon"><svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" color="white">
      <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
  </svg></span>
    <span>GitHub</span></a>
    <a href="/linktree" class="btn">Contactez-moi</a>
  </div>
  
</div>


<style>
</style>
