---

---


<div class="navbar fixed bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Accueil</a></li>
        <li><a>A Propos</a></li>
        <li>
          <a>Mes Projets</a>
          <ul class="p-2">
            <li><a>Web</a></li>
            <li><a>Autre</a></li>
          </ul>
        </li>
        <li><a>Contactez-moi</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">dev2go</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Item 1</a></li>
      <li tabindex="0">
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="https://github.com/antikkorps" class="btn mr-3">
    <span class="icon">logo</span>
    <span>GitHub</span></a>
    <a href="/contact" class="btn">Contactez-moi</a>
  </div>
  <div class="scroll-tracker"></div>
</div>


<style>
  .scroll-tracker {
    display: block;
    inset: 3.7rem 0 auto;
    position: fixed;
    height: 0.4rem;
    background: #c943e4;
    z-index: 1;
    transform-origin: left;
  }

  @media screen and (min-width: 1023px) {
    .scroll-tracker {
      inset: 4.1rem 0 auto;
    }
  }
</style>
