---
---

<style>
  .scroll-tracker {
    display: block;
    inset: 3.25rem 0 auto;
    position: fixed;
    height: 0.6rem;
    background: purple;
    z-index: 1;
    transform-origin: left;
  }
  
  @media screen and (min-width: 1023px) {
    .scroll-tracker {
      inset: 3.5rem 0 auto;
    }

  </style>

<nav class='navbar is-fixed-top' role='navigation' aria-label='main navigation'>
  <div class='navbar-brand'>
    <a class='navbar-item' href='https://bulma.io'>
      <img
        src='https://bulma.io/images/bulma-logo.png'
        width='112'
        height='28'
      />
    </a>

    <a
      role='button'
      class='navbar-burger'
      aria-label='menu'
      aria-expanded='false'
      data-target='navbarBasicExample'
    >
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div id='navbarBasicExample' class='navbar-menu'>
    <div class='navbar-start'>
      <a class='navbar-item'>Accueil</a>

      <a class='navbar-item'>Blog</a>

      <a class='navbar-item'>Qui suis-je ?</a>

      <div class='navbar-item has-dropdown is-hoverable'>
        <a class='navbar-link'>Mes projets</a>

        <div class='navbar-dropdown'>
          <a class='navbar-item'>Web</a>
          <a class='navbar-item'>Mes projets</a>
        </div>
      </div>
    </div>

    <div class='navbar-end'>
      <div class='navbar-item'>
        <div class='buttons'>
          <a class='button is-primary'>
            <strong>Contactez-moi</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='scroll-tracker'></div>
</nav>
